In [21]:
import pandas as pd
from datetime import datetime

In [4]:
trip_start_df = pd.read_csv("../data/trip_start.csv")
trip_end_df = pd.read_csv("../data/trip_end.csv")

In [5]:
trip_start_df.head()

,trip_id,pickup_location_id,dropoff_location_id,vendor_id,pickup_datetime,estimated_dropoff_datetime,estimated_fare_amount
0,c66ce556bc,93,93,1,2024-05-25 13:19:00,2024-05-25 14:03:00,34.185953
1,f93c901b2d,247,247,1,2024-05-25 18:32:00,2024-05-25 19:15:00,69.124717
2,9ddba1d91a,7,193,2,2024-05-25 05:17:00,2024-05-25 05:37:00,47.097901
3,cc4db3afb9,193,193,2,2024-05-25 16:16:00,2024-05-25 17:02:00,66.546304
4,f881b97b2c,93,93,1,2024-05-25 12:43:00,2024-05-25 13:39:00,69.309091

In [7]:
trip_start_df.shape

(4999, 7)

In [19]:
trip_start_df.columns

Index(['trip_id', 'pickup_location_id', 'dropoff_location_id', 'vendor_id',
       'pickup_datetime', 'estimated_dropoff_datetime',
       'estimated_fare_amount'],
      dtype='object')

In [10]:
trip_end_df.head()

,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type,trip_id
0,2024-05-25 14:05:00,5.0,0.0,0.1,40.096207,0.000000,3.0,2.0,c66ce556bc
1,2024-05-25 19:15:00,5.0,1.0,0.0,69.124717,0.000000,3.0,2.0,f93c901b2d
2,2024-05-25 05:41:00,1.0,1.0,0.0,47.097901,0.000000,1.0,1.0,9ddba1d91a
3,2024-05-25 17:05:00,1.0,1.0,0.0,77.156184,1.423181,1.0,1.0,cc4db3afb9
4,2024-05-25 13:39:00,5.0,1.0,0.1,81.467290,0.000000,3.0,2.0,f881b97b2c

In [11]:
trip_end_df.shape

(4999, 9)

In [20]:
trip_end_df.columns

Index(['dropoff_datetime', 'rate_code', 'passenger_count', 'trip_distance',
       'fare_amount', 'tip_amount', 'payment_type', 'trip_type', 'trip_id'],
      dtype='object')

In [23]:
trip_merge = pd.merge(trip_start_df, trip_end_df, on="trip_id")
trip_merge.head()

,trip_id,pickup_location_id,dropoff_location_id,vendor_id,pickup_datetime,estimated_dropoff_datetime,estimated_fare_amount,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type
0,c66ce556bc,93,93,1,2024-05-25 13:19:00,2024-05-25 14:03:00,34.185953,2024-05-25 14:05:00,5.0,0.0,0.1,40.096207,0.000000,3.0,2.0
1,f93c901b2d,247,247,1,2024-05-25 18:32:00,2024-05-25 19:15:00,69.124717,2024-05-25 19:15:00,5.0,1.0,0.0,69.124717,0.000000,3.0,2.0
2,9ddba1d91a,7,193,2,2024-05-25 05:17:00,2024-05-25 05:37:00,47.097901,2024-05-25 05:41:00,1.0,1.0,0.0,47.097901,0.000000,1.0,1.0
3,cc4db3afb9,193,193,2,2024-05-25 16:16:00,2024-05-25 17:02:00,66.546304,2024-05-25 17:05:00,1.0,1.0,0.0,77.156184,1.423181,1.0,1.0
4,f881b97b2c,93,93,1,2024-05-25 12:43:00,2024-05-25 13:39:00,69.309091,2024-05-25 13:39:00,5.0,1.0,0.1,81.467290,0.000000,3.0,2.0

In [18]:
trip_merge.shape

(4999, 15)