In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
trip_start_df = pd.read_csv("../data/trip_start.csv")
trip_end_df = pd.read_csv("../data/trip_end.csv")

In [ ]:
trip_start_df.head()

In [ ]:
trip_start_df.shape

In [ ]:
trip_start_df.columns

In [25]:
trip_start_df.isnull().sum()

trip_id                       0
pickup_location_id            0
dropoff_location_id           0
vendor_id                     0
pickup_datetime               0
estimated_dropoff_datetime    0
estimated_fare_amount         0
dtype: int64

In [26]:
trip_end_df.head()

,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type,trip_id
0,2024-05-25 14:05:00,5.0,0.0,0.1,40.096207,0.000000,3.0,2.0,c66ce556bc
1,2024-05-25 19:15:00,5.0,1.0,0.0,69.124717,0.000000,3.0,2.0,f93c901b2d
2,2024-05-25 05:41:00,1.0,1.0,0.0,47.097901,0.000000,1.0,1.0,9ddba1d91a
3,2024-05-25 17:05:00,1.0,1.0,0.0,77.156184,1.423181,1.0,1.0,cc4db3afb9
4,2024-05-25 13:39:00,5.0,1.0,0.1,81.467290,0.000000,3.0,2.0,f881b97b2c

In [27]:
trip_end_df.shape

(4999, 9)

In [28]:
trip_end_df.columns

Index(['dropoff_datetime', 'rate_code', 'passenger_count', 'trip_distance',
       'fare_amount', 'tip_amount', 'payment_type', 'trip_type', 'trip_id'],
      dtype='object')

In [29]:
trip_end_df.isnull().sum()

dropoff_datetime      0
rate_code           531
passenger_count     531
trip_distance         0
fare_amount           0
tip_amount            0
payment_type        531
trip_type           531
trip_id               0
dtype: int64

In [30]:
trip_merge = pd.merge(trip_start_df, trip_end_df, on="trip_id")
trip_merge.head()

,trip_id,pickup_location_id,dropoff_location_id,vendor_id,pickup_datetime,estimated_dropoff_datetime,estimated_fare_amount,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type
0,c66ce556bc,93,93,1,2024-05-25 13:19:00,2024-05-25 14:03:00,34.185953,2024-05-25 14:05:00,5.0,0.0,0.1,40.096207,0.000000,3.0,2.0
1,f93c901b2d,247,247,1,2024-05-25 18:32:00,2024-05-25 19:15:00,69.124717,2024-05-25 19:15:00,5.0,1.0,0.0,69.124717,0.000000,3.0,2.0
2,9ddba1d91a,7,193,2,2024-05-25 05:17:00,2024-05-25 05:37:00,47.097901,2024-05-25 05:41:00,1.0,1.0,0.0,47.097901,0.000000,1.0,1.0
3,cc4db3afb9,193,193,2,2024-05-25 16:16:00,2024-05-25 17:02:00,66.546304,2024-05-25 17:05:00,1.0,1.0,0.0,77.156184,1.423181,1.0,1.0
4,f881b97b2c,93,93,1,2024-05-25 12:43:00,2024-05-25 13:39:00,69.309091,2024-05-25 13:39:00,5.0,1.0,0.1,81.467290,0.000000,3.0,2.0

In [31]:
trip_merge.shape

(4999, 15)

In [32]:
sorted_trip_merge = trip_merge.sort_values(by=["pickup_datetime", "dropoff_datetime"])
sorted_trip_merge.head(10)

,trip_id,pickup_location_id,dropoff_location_id,vendor_id,pickup_datetime,estimated_dropoff_datetime,estimated_fare_amount,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type
191,112cfd5a09,254,119,1,2024-05-25 00:01:00,2024-05-25 00:20:00,56.386583,2024-05-25 00:20:00,1.0,1.0,0.00,56.386583,0.0,1.0,1.0
3552,750b087814,95,160,2,2024-05-25 00:01:00,2024-05-25 00:24:00,74.202816,2024-05-25 00:24:00,1.0,1.0,2.49,84.045145,0.0,2.0,1.0
2641,4c523c6888,130,216,2,2024-05-25 00:02:00,2024-05-25 00:27:00,56.537472,2024-05-25 00:27:00,1.0,1.0,3.09,62.946882,0.0,2.0,1.0
1988,c1e4a59253,74,116,2,2024-05-25 00:04:00,2024-05-25 00:27:00,45.654812,2024-05-25 00:27:00,1.0,1.0,3.54,45.654812,0.0,2.0,1.0
2899,66da2a2157,74,237,2,2024-05-25 00:04:00,2024-05-25 00:30:00,80.442013,2024-05-25 00:32:00,1.0,1.0,2.53,90.163115,0.0,2.0,1.0
3647,1de1b17442,130,218,2,2024-05-25 00:04:00,2024-05-25 00:33:00,29.213166,2024-05-25 00:33:00,1.0,1.0,2.68,29.213166,0.0,1.0,1.0
2511,8de373d796,75,140,2,2024-05-25 00:04:00,2024-05-25 00:36:00,84.334676,2024-05-25 00:36:00,1.0,6.0,2.72,84.334676,0.0,1.0,1.0
3107,020aa8f0ad,33,255,2,2024-05-25 00:04:00,2024-05-25 00:44:00,36.776122,2024-05-25 00:46:00,NaN,NaN,4.63,41.549422,0.0,NaN,NaN
3761,dd10ec0355,74,151,2,2024-05-25 00:04:00,2024-05-25 01:01:00,56.498150,2024-05-25 01:01:00,1.0,1.0,2.29,66.211228,0.0,1.0,1.0
4917,dd7b6b7606,74,238,2,2024-05-25 00:04:00,2024-05-25 00:57:00,19.976202,2024-05-25 01:02:00,1.0,1.0,2.61,23.199285,0.0,1.0,1.0

In [34]:
#kpi: total fare per day
sorted_trip_merge["pickup_date"] = pd.to_datetime(sorted_trip_merge["pickup_datetime"]).dt.date
total_fare_per_day = sorted_trip_merge.groupby("pickup_date")["fare_amount"].sum().reset_index()
total_fare_per_day.head()

  pickup_date    fare_amount
0  2024-05-25  274393.882557

In [35]:
# count of trips per day
trip_count = sorted_trip_merge.groupby("pickup_date")["trip_id"].count().reset_index()
trip_count.head()

  pickup_date  trip_id
0  2024-05-25     4999

In [36]:
# average fare amount per trip
average_fare_per_trip = sorted_trip_merge.groupby("pickup_date")["fare_amount"].mean().reset_index()
average_fare_per_trip.head()

  pickup_date  fare_amount
0  2024-05-25    54.889754

In [37]:
#maximum fare amount per day
max_fare_per_day = sorted_trip_merge.groupby("pickup_date")["fare_amount"].max().reset_index()
max_fare_per_day.head()

  pickup_date  fare_amount
0  2024-05-25    99.990127

In [38]:
#minimum fare amount per day
min_fare_per_day = sorted_trip_merge.groupby("pickup_date")["fare_amount"].min().reset_index()
min_fare_per_day.head()

  pickup_date  fare_amount
0  2024-05-25    10.036695